<div id="reminder_form">
<%= semantic_form_for @user do |f| %>
  <%= f.input :email_address, :as => :email, :label => "Email", :input_html => { :placeholder => "Email Address"} %>
  <%= f.input :location_string, :label => "Location", :input_html => { :placeholder => "Zipcode or city"} %>
  <%= f.input :time, :label => "Reminder time", :as => :select, :collection => @times, :include_blank => false %>
  <%= f.input :time_zone_string, :label => "Time Zone" %>
  <%= f.buttons do %>
    <%= f.commit_button :label => "Create Reminder" %>
  <% end %>

<% end %>
</div>
